@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #feffc6;
    font-family: 'Stack Sans Headline', sans-serif;
}
#Container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 20vh;
    background-color: #0f0e53bd;
}
#foto{
    width: 8%;
    margin-left: 5%;
    border: 2px solid black;
}
#foto:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
      cursor: pointer;
}
#meuNome{
    color: rgb(251, 253, 237);
    margin-left: 16%;
    font-size: 6rem;
}
.login{
    margin-left: 20%;
    margin-right: 5%;
    margin-top: 1%;
    border: 2px solid white;
    width: 120px;
    height: 46px;
    display: fixed;
    border-radius: 7px;
}
.login:hover{
 
    background-color: #0e1e5360;
}

#login{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    padding-left: 10%;
}
#navBar{
    display: flex;
    align-items: center;
    background-color: #06007073;
    padding: 0 2rem;
    height: 7vh;
    width: 100%;
}


#navBar .icones{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-right: auto;
    
}

.icontelefone{
    scale: 1.3;
    margin-left: 4.2rem;
}

#navBar .icones img{
    width: 2rem;
}
#navBar .icones img:hover{
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
      cursor: pointer;
      
}
#sobremim, #projetos, #certificações, #impresso{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin-left: 3rem;
}
#impresso{
    margin-right: 33rem;
}
#sobremim:hover, #projetos:hover, #certificações:hover, #impresso:hover{
    color: #cecece;
      cursor: pointer;
      transform: scale(1.05);
        transition: all 0.3s ease-in-out;
}
#segredo{
    display: none;
}

